<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cellars Home Page</title>
    <link rel="stylesheet" href="/public/assets/styles_index.css" type="text/css">
    <link rel="stylesheet" href="/public/assets/styles_menu.css" type="text/css">
</head>
<body>
  <div id="top-right-ribbon">
  </div>
    <div class="logo">
      <img src="/public/logos/cellars-logo-gold-website - 2.png" alt="Cellars Logo">
    </div>
    <div class="content">
        <p class="justified-paragraph">Discover Paarl's Timeless Nightlife Hub! Join us in the heart of Paarl, where tradition and modernity blend seamlessly. For decades, our nightclub, Cellars Paarl, has united the community with vibrant music by top DJs and bands. Indulge in delectable baskets and platters from our kitchen. Elevate your nights and become a part of Paarl's cultural tapestry at our legendary venue.<br> <span>Cellars Paarl, where kings and queens meet.</span> </p>
    </div>
    
    <div class="menubar">
        <input type="checkbox" id="ham-menu">
        <label for="ham-menu">
          <div class="hide-des">
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
          </div>
        
        </label>
        <div class="full-page-green"></div>
        <div class="ham-menu">
          <ul class="centre-text bold-text">
            <li><img src="/public/logos/cellars-logo-gold-website - 2.png" alt=""></li>
            <li><a href="make-bookings">Bookings</a></li>
            <li><a href="upcoming">Upcoming Events</a></li>            
            <li><a href="photo_gallery">Photo Gallery</a></li>
            <li><a href="contact_us">Contact Us</a></li>
            <li><a href="admin_login">Admin</a></li>
        
          </ul>
        </div>
    </div>
    <!--<div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>
    <div class="border-image"></div>-->
</body>
</html>