<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/public/assets/photo_gallery.css">
    <script src="/public/script_files/photo_gallery_script.js"></script>
</head>
<body>
    <section aria-label="Poster Photos">
        <div class="carousel" data-carousel>
            <button id="previousSlide" class = "carousel-button prev" data-carousel-button="prev">&#8656;</button>
            <button id="nextSlide" class = "carousel-button next" data-carousel-button="next">&#8658;</button>
            <ul data-slides>
                <li class="slide" data-active>
                  <img src="/public/uploads/skyy-vodka.jpg" alt="Nature Image #1">
                  <!--<a href="booking.ejs">Click Here</a>-->
                </li>
                <li class="slide">
                  <img src="/public/uploads/redBull.jpg" alt="Jose Cuervo Picture">
                </li>
                <li class="slide">
                  <img src="/public/uploads/jose-cuervo.jpg" alt="Jose Cuervo Picture">
                </li><li class="slide">
                  <img src="/public/uploads/slide1.jpg.jpg" alt="Jose Cuervo Picture">
                </li>
            </ul>
        </div>
    </section>
    
    
</body>
</html>