<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="/public/assets/styles_upcoming.css" type="text/css">
    <link rel="stylesheet" href="/public/assets/styles_menu.css" type="text/css">
    <script src="/public/script_files/upcoming_script.js"></script>
</head>
<body>
  <div id="top-right-ribbon">
  </div>
    <div class="menubar">
        <input type="checkbox" id="ham-menu">
        <label for="ham-menu">
          <div class="hide-des">
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
          </div>
        
        </label>
        <div class="full-page-green"></div>
        <div class="ham-menu">
          <ul class="centre-text bold-text">
            <li><a href="/">Home</a></li>
            <li><a href="make-bookings">Bookings</a></li>
            <li><a href="admin_login">Admin</a></li>
            <li>Support</li>
            <li>Contact us</li>
        </ul>
        </div>
    </div>
    <div class="header over-ribbon">
      <img src="/public/logos/cellars-logo-white-website.png" alt="">
      <div class="booking-heading"><h1>Upcoming Events</h1></div>
    </div>

    <div class="image-view snaps-inline" id="events-carousel-container">

      <!--<div class="event-card">
        <div class="event-poster">
          <img src="/uploads/a9af6746573e51d4e00a48b1d3d589c5" alt="">
          <div class="event-caption">
            <h2>Event Name</h2>
            <h2>Event Description</h2>
          </div>
          <button>Book Now</button>
        </div>
      </div>

      <div class="event-card">
        <div class="event-poster">
          <img src="/uploads/59d3bf1c1188b6ecf9cd4d0951b5fff0" alt="">
          <div class="event-caption">
            <h2>Event Name</h2>
            <h2>Event Description</h2>
          </div>
          <button>Book Now</button>
        </div>
      </div>

      <div class="event-card">
        <div class="event-poster">
          <img src="/uploads/9463c1492c2dc7c05ff3755e379fe448" alt="">
          <div class="event-caption">
            <h2>Event Name</h2>
            <h2>Event Description</h2>
          </div>
          <button>Book Now</button>
        </div>
      </div>

      <div class="event-card">
        <div class="event-poster">
          <img src="/uploads/9f58e6886061adfc2572ed62e48eb21f" alt="">
          <div class="event-caption">
            <h2>Event Name</h2>
            <h2>Event Description</h2>
          </div>
          <button>Book Now</button>
        </div>
      </div>

      <div class="event-card">
        <div class="event-poster">
          <img src="/uploads/d924922733a9aec0bae71a8040ac0759" alt="">
          <div class="event-caption">
            <h2>Event Name</h2>
            <h2>Event Description</h2>
          </div>
          <button>Book Now</button>
        </div>
      </div>

      <div class="event-card">
        <div class="event-poster">
          <img src="/uploads/9bd25efa9cfb3165a0a45fd4635aeec0" alt="">
          <div class="event-caption">
            <h2>Event Name</h2>
            <h2>Event Description</h2>
          </div>
          <button>Book Now</button>
        </div>
      </div>

      <div class="event-card">
        <div class="event-poster">
          <img src="/uploads/1ced6a526f19ec94bd0bcc95712babec" alt="">
          <div class="event-caption">
            <h2>Event Name</h2>
            <h2>Event Description</h2>
          </div>
          <button>Book Now</button>
        </div>-->
      </div>
    <div class="photoGallery" id="photoGallery">
    
    </div>
    
    
</body>
</html>